body {
    font-family: segoe ui,Arial,sans-serif;
    font-size: 1.1em; 
    background-color: goldenrod;
    margin: 2em;
}
li {
    margin-bottom: 0.2em
}

input[type="image"] {
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
}

.kuketoaverto { position: fixed; bottom: 0px; left: 5%; max-width: 90%; min-height:40%;
                background-color: goldenrod; margin: 0; display: none;
                border-radius: 5px 5px 0 0; border: 1px solid #303030; border-bottom: none
              }
.kuketoaverto P { text-align:left; max-width: 50em }
.kuketoaverto FORM { text-align:center }

