# kopiu al /etc/systemd/system
# kaj aktivigu per:
#   sudo systemctl enable redaktilo-test.service
# kaj lanĉu per:
#   sudo systemctl start redaktilo-test.service
# haltigu per:
#   sudo systemctl stop redaktilo-test.service
# kontrolu per:
#   sudo systemctl status redaktilo-test.service

[Unit]
Description=Revo-Redaktilo-Servo por testado

[Service]
# Type=simple
Type=forking
Restart=on-abnormal
ExecStart=/home/revo-test/voko/swi/run-server.sh
ExecStop=/home/revo-test/voko/swi/stop-server.sh

[Install]
WantedBy=multi-user.target
