http_app_scheme(https). % vidata de ekstere, malantaŭ proksimumo, https/atestiloj estos procedataj tie, ekz. per Apache + Let's Encrypt
http_app_host('example.com'). % vidata de ekstere, do malantaŭ proksimuma retservo, ties nomo
http_app_port(443). % vidata de ekstere, do malantaŭ proksimuma retservo, ties pordo, ekz. 443 aŭ 80